body{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner{
    width: 700px;
    height: 300px;
    padding: 5px;
    box-align: center;
}




nav ul{
    text-align: center;
    list-style: none;
}


nav ul li{
    float: left;
}

nav ul li a{
    padding: 5px 5px;
    display: block;
    content: white;
    text-decoration: none;
    font-family: cursive;
}


 nav ul li a:hover{
	background: grey;
}



h1{
        color: antiquewhite;
        text-align: center;
        font-family: cursive;
}


.cocteles{
    width: 100;
    height: 150;
}


p{
    color: antiquewhite;
    text-align: center;
    font-family: cursive;
}

.cervezas{
    width: 800PX;
    height: 300px;

}



footer{
    color: azure;
    text-align: center;
}